*
  position: relative
  box-sizing: border-box

body
  background: #FFF
  display: flex
  flex-flow: column nowrap
  height: 100vh
  justify-content: space-between
  font-family: Verdana, Helvetica, sans-serif
  margin: 0
  overflow: hidden

main
  background: #EEE
  flex-grow: 0
  overflow: auto

  article
    background: #FFF
    border-bottom: 1px solid #ccc
    padding: 1em
    &:last-of-type
      border-bottom: none
    date
      color: #AAA
      font-size: 0.7em
      font-weight: 600
      text-transform: uppercase
    p
      margin: 0.5em 0 0 0

form
  background: rgba(255, 255, 255, 0.7)
  display: block
  height: 100%
  padding: 4em 6em 8em
  position: absolute
  top: 0
  width: 100%
  textarea
    height: 100%
    padding: 2em
    outline: none
    border: 1px solid #ccc
    border-radius: 4px
    resize: none
    width: 100%
    font-size: 1em
    font-family: Verdana, Helvetica, sans-serif

nav
  background: #FFF
  border-top: 1px solid #8A8A8A
  display: flex
  flex-flow: row nowrap
  flex-grow: 0
  flex-shrink: 0
  height: 4em
  justify-content: flex-end
  .plus
    transition: all 0.5s ease
    translate-origin: 50% 50%
    &:hover
      cursor: pointer
  .exit
    transform: rotate(-135deg)
    transition: all 0.5s ease
