*
  position: relative
  box-sizing: border-box

body
  background: #FFF
  display: flex
  flex-flow: column nowrap
  height: 100vh
  justify-content: flex-end
  margin: 0

main
  background: #EEE
  flex-grow: 0
  overflow: auto
  article
    background: #FFF
    border: 1px solid #DDD
    margin: 0.5em
    padding: 1em
    date
      color: #AAA
      font-size: 0.8em
    p
      margin: 0.5em 0 0 0

nav
  background: #FFF
  border-top: 1px solid #DDD
  flex-grow: 0
  flex-shrink: 0
  height: 4em